:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 50px 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
  font-family: "Spartan", sans-serif;
  font-size: 15px;

  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header {
  margin: 0 30px;
}
h2 {
  color: var(--Very-Dark-Magenta);
  font-size: 30px;
  font-weight: 700;
}
.header > p {
  color: var(--Dark-Grayish-Magenta);
  line-height: 25px;
  font-weight: 500;
}

/* RATING BOX */

.wrapper {
  background: var(--Light-Grayish-Magenta);
  margin: 20px 30px;
  padding: 20px 0;
  border-radius: 10px;
}
.stars {
  letter-spacing: 5px;
  padding-bottom: 10px;
}
.rev {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}

/* REVIEW BOX */

.review-card {
  background: var(--Very-Dark-Magenta);
  color: white;
  margin: 10px 30px;
  border-radius: 10px;
  padding: 30px 30px 20px;
  text-align: left;
  font-size: 15px;
}
.identity {
  display: flex;
  align-content: stretch;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 30px;
}
h4 {
  margin: 0;
}
span {
  color: var(--Soft-Pink);
}
.dp {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-auto-flow: row;
    box-sizing: border-box;
    padding: 30px 100px;
    height: 100%;
    max-width: 100%;
  }
  .header {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: left;
  }
  .header > h2 {
    font-size: 45px;
    margin: 20px 0;
  }
  .starcompartment {
    display: flex;
    grid-column: 7/13;
    grid-row: 1/2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 30px;
  }
  .starcompartment .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 15px 10px;
    width: 400px;
    font-size: 12px;
  }
  #a {
    align-self: flex-start;
  }

  #b {
    align-self: center;
  }
  #c {
    align-self: flex-end;
  }
  .stars {
    justify-content: center;
    padding: 0;
  }
  .review-wrapper {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    grid-column: -13/-1;
    align-items: flex-start;
    justify-content: space-between;
  }
  .review-card {
    width: 300px;
    height: 220px;
    margin: 0 15px;
  }

  #rc2 {
    margin-top: 20px;
  }
  #rc3 {
    margin-top: 40px;
  }
}
